<!-- BEGIN_INCLUDE(nebulent-dynamodb:load) -->
    <nebulent-dynamodb:load key="AWS record key" rangeKey="rangeKey" recordType="com.nebulent.dynamo.model.DataModel" />
<!-- END_INCLUDE(nebulent-dynamodb:load) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:batch-load) -->
    <nebulent-dynamodb:batch-load />
<!-- END_INCLUDE(nebulent-dynamodb:batch-load) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:query) -->
    <nebulent-dynamodb:query startKey-ref="AWS record key" limit="" recordType="" expression="" />
<!-- END_INCLUDE(nebulent-dynamodb:query) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:count) -->
    <nebulent-dynamodb:count recordType="" scanExpression="" />
<!-- END_INCLUDE(nebulent-dynamodb:count) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:scan) -->
    <nebulent-dynamodb:scan startKey-ref="AWS record key" limit="" recordType="" expression="" />
<!-- END_INCLUDE(nebulent-dynamodb:scan) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:save) -->
    <nebulent-dynamodb:save />
<!-- END_INCLUDE(nebulent-dynamodb:save) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:batch-save) -->
    <nebulent-dynamodb:batch-save />
<!-- END_INCLUDE(nebulent-dynamodb:batch-save) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:delete) -->
    <nebulent-dynamodb:delete />
<!-- END_INCLUDE(nebulent-dynamodb:delete) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:batch-delete) -->
    <nebulent-dynamodb:batch-delete />
<!-- END_INCLUDE(nebulent-dynamodb:batch-delete) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:batch-write) -->
    <nebulent-dynamodb:batch-write />
<!-- END_INCLUDE(nebulent-dynamodb:batch-write) -->

<!-- BEGIN_INCLUDE(nebulent-dynamodb:marshal-into-objects) -->
    <nebulent-dynamodb:marshal-into-objects type="" attributes="" />
<!-- END_INCLUDE(nebulent-dynamodb:marshal-into-objects) -->